<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ProjectSC.Properties.Settings>
            <setting name="IsNotificationOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StyleCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSavingSortingModeOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DetailsPanelClosingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsRemovingWaringOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value>33, 150, 243</value>
            </setting>
            <setting name="SecondaryColor" serializeAs="String">
                <value>151, 8, 204</value>
            </setting>
            <setting name="ItembarColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ItembarHighlightColor" serializeAs="String">
                <value>237, 247, 255</value>
            </setting>
            <setting name="ItembarTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ItemCompletedTextColor" serializeAs="String">
                <value>150, 150, 150</value>
            </setting>
            <setting name="ItemPassedTextColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </ProjectSC.Properties.Settings>
    </userSettings>
</configuration>
